<link rel="stylesheet" href="~/css/produse-style.css" />
<div class="page-container">
    <div class="sidebar">
        <div class="dropdown-produse">
            <button class="button-produse" onclick="showTipProduse()">Produse</button>
            <div id="p-dropdown" class="dropdown-content">
                <a href="#electronice" onclick="showMenu('electronice')">Electronice</a>
                <a href="#n2">Produs2</a>
                <a href="#n3">Produs3</a>
            </div>
        </div>
        <div class="dropdown-tip-produse" id="electronice">
            <button class="button-tip-produse" id="btt-tip-produse" onclick="showElectronice()">Electronice</button>
            <div id="tip-dropdown" class="tip-dropdown-content">
                @{
                    if (ViewBag.tipuriProduseElectronice != null)
                    {
                        foreach (var pair in ViewBag.tipuriProduseElectronice)
                        {
                            <a href="#@(pair.Key)" onclick="showProductsByType('@(pair.Key)')">@pair.Key (@pair.Value)</a>
                        }
                    }
                    else
                    {
                        <a href="#">-EROARE-</a>
                    }
                }
            </div>
        </div>
    </div>
    <div class="container-produse">
        <div class="container-info">
           
        </div>
    </div>
</div>

<script src="~/js/script-produse.js"></script>