* {
    user-select: none;
    /*box-sizing: border-box;*/
}

body {
    background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
}

.page-container {
    /*max-width: 100%;*/
    display: flex;
    transition: margin-left 0.4s;
}

.page-content {
    width: 100%;
    /*height: 100%;*/
    min-height: 86vh;
    /*background-color: #ffffff9b;*/
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    border: 1px solid #8e8e8e5e;
    border-radius: 3px 3px 0 0;
    font-size: 1vw;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.options {
    box-shadow: 0px 5px 5px -5px rgba(50, 50, 93, 0.25), 0px 3px 3px -3px rgba(0, 0, 0, 0.3);
    display: none;
}

.show {
    display: block;
}

.options a {
    color: darkgray;
    font-size: 0.8vw;
}

.options .dropdown-menu {
    width: 13.2em;
    height: 5.5em;
}

.options .dropdown-menu a {
    font-size: 0.9vw;
}

.form-content {
    margin: 0em 8em 0 8em;
}

.form-content label {
    color: black;
    font-weight: 600;
    font-size: 15px;
}

.form-content button {
    color: darkgray;
}

.text-danger {
    font-size: 14px;
    font-weight: 500;
}

#search-product {
    display: block;
}

table tbody td {
    text-align: center;
    font-size: 0.8vw;
    font-weight: 500;
}

table tbody td:first-child, td:nth-child(6) {
    font-weight: 700;
}

table tbody td:last-child {
    text-align: justify;
}

.custom-header th {
    font-size: 0.85vw;
    text-align: center;
}

.custom-header th:last-child {
    width: 35%;
}

.tabel-mod tbody td {
    font-size: 0.75vw;
}

.tabel-mod tbody td:nth-child(7) {
    text-align: justify;
}

.custom-header4 th {
    font-size: 0.6vw;
    text-align: center;
}

.custom-header4 th:first-child {
    width: 2%;
}

.custom-header4 th:nth-child(2) {
    width: 10%;
}

.custom-header4 th:nth-child(3) {
    width: 7%;
}

.custom-header4 th:nth-child(4) {
    width: 9%;
}

.custom-header4 th:nth-child(5) {
    width: 10%;
}

.custom-header4 th:nth-child(6) {
    width: 5%;
}

.custom-header4 th:nth-child(7) {
    width: 20%;
}

.custom-header4 th:last-child {
    width: 14%;
}

.tabel-clienti tbody td {
    font-size: 0.8vw;
}

.tabel-clienti tbody td:last-child {
    text-align: center;
}

.custom-header5 th {
    font-size: 0.9vw;
    text-align: center;
}

table .btn-group {
    max-height: 6vh;
}

table .btn-group .edit, table .btn-group .delete {
    font-size: 0.6vw;
}

@media (max-width: 768px) {
    .options a {
        font-size: 6px;
    }

    .tabel-mod tbody td {
        font-weight: 800;
        font-size: 0.25rem;
    }

    .page-content {
        overflow: auto;
    }
}