* {
    user-select: none;
    /*box-sizing: border-box;*/
}

body {
    background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
}

.page-container {
    /*max-width: 100%;*/
    display: flex;
    transition: margin-left 0.4s;
}

.page-content {
    width: 100%;
    /*height: 100%;*/
    height: 85vh;
    /*background-color: #ffffff9b;*/
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    border: 1px solid #8e8e8e5e;
    border-radius: 3px 3px 0 0;
    font-size: 1vw;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.options {
    box-shadow: 0px 5px 5px -5px rgba(50, 50, 93, 0.25), 0px 3px 3px -3px rgba(0, 0, 0, 0.3);
    display: none;
}

.show {
    display: block;
}

.options button {
    font-size: 1vw;
}

.page-content button {
    color: darkgray;
}

.options .dropdown-menu {
    width: 13.2em;
    height: 5.5em;
}

.options .dropdown-menu a {
    font-size: 0.9vw;
}

.form-content {
    margin: 0em 8em 0 8em;
}

.form-content label {
    color: black;
    font-weight: 600;
    font-size: 15px;
}

.text-danger {
    font-size: 14px;
    font-weight: 500;
}

#search-product {
    display: block;
}
