body {
    /*background-color: gainsboro;*/
    /*background-image: url("https://images.wallpaperscraft.com/image/single/forest_trees_fog_110131_4928x3264.jpg");
    background-size: cover;*/
    background-image: linear-gradient( 110.3deg, rgba(73,93,109,1) 4.3%, rgba(49,55,82,1) 96.7% );
    /*alt bg*/
    /*background-image: radial-gradient( circle 993px at 0.5% 50.5%,  rgba(137,171,245,0.37) 0%, rgba(245,247,252,1) 100.2% );*/
    margin-bottom: 0px;
}

.main-container {
    max-width: 100%;
}

.page-container {
    display: flex;
    flex-direction: row;
}

.sidebar {
    position: absolute;
    margin-left: 0.5%;
    width: 13%;
    height: 37.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid rgb(41, 41, 41);*/
    border: 1px solid rgb(27, 62, 96);
    border-radius: 5px;
    background-image: radial-gradient( circle 1224px at 10.6% 8.8%, rgba(255,255,255,1) 0%, rgba(153,202,251,1) 100.2% );
}

.dropdown-produse, .dropdown-tip-produse {
    position: relative;
    display: inline-block;
    margin-top: 0.5em;
}

.button-produse, .button-tip-produse, .button-detalii {
    background-color: rgb(47, 47, 47);
    color: white;
    font-size: 1.2vw;
    cursor: pointer;
    width: 100%;
    height: auto;
    border-radius: 3px;
    border: 1px solid rgb(182, 182, 182, 0.73);
    text-indent: 0.4em;
    text-align: left;
}

#electronice, #detalii-produse {
    display: none;
}

.dropdown-content, .tip-dropdown-content, .detalii-dropdown-content {
    background-color: ghostwhite;
    display: none;
    position: relative;
    width: 100%;
    border-radius: 3px;
    border-left: 1px solid rgb(27, 62, 96);
    border-right: 1px solid rgb(27, 62, 96);
}

.dropdown-content a, .tip-dropdown-content a {
    color: black;
    padding: 0.2em 1em;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid rgb(27, 62, 96);
    font-size: 0.9vw;
}

.detalii-dropdown-content a {
    width: 14.9em;
    font-size: 0.8vw;
    color: black;
    text-decoration: none;
    display: block;
    padding: 0.3em 0.5em;
    border-bottom: 1px solid rgb(27, 62, 96);
}

.dropdown-produse a:hover, .dropdown-tip-produse a:hover{
    background-color: #ddd;
}

.show {
    display: block;
}

.button-produse::after, .button-tip-produse::after, .button-detalii::after {
    content: '';
    display: inline-block;
    border: 0.4em solid transparent;
    border-top-color: white;
    position: relative;
    top: 0.2em;
    margin-left: 4.5em;
    transition: transform 0.4s ease;
}

.dropdown-produse.open .button-produse::after,
.dropdown-tip-produse.open .button-tip-produse::after,
.dropdown-tip-produse.open .button-detalii::after {
    transform: rotate(180deg);
}

.search-bar {
    width: 10.85em;
    border: none;
    border-bottom: 1px solid rgb(27, 62, 96);
    outline: none;
    font-size: 1.1vw;
    padding-left: 0.5em;
    display: block;
    background-color: transparent;
}

@media (max-width: 768px) {
    .button-produse::after {
        margin-left: 3em;
    }
    .button-tip-produse::after {
        margin-left: 1.5em;
    }
    .button-detalii::after {
        margin-left: 3.6em;
    }
    .button-produse, .button-detalii, .button-tip-produse {
        height: 2.5em;
    }
    .dropdown-tip-produse {
        margin-top: 1%;
    }
    .search-bar {
        width: 10.75em;
        height: 2em;
    }
    .sidebar {
        height: 14em;
    }
}

@media (min-width: 768px) {
    .button-tip-produse::after {
        margin-left: 3em;
    }
    .button-detalii::after {
        margin-left: 5.15em;
    }
    .dropdown-tip-produse {
        margin-top: 0.5em;
    }
}

.container-produse {
    /*border: 1px solid rgb(41, 41, 41);*/
    border: 1px solid rgb(27, 62, 96);
    border-radius: 5px;
    background-image: radial-gradient( circle 1224px at 10.6% 8.8%, rgba(255,255,255,1) 0%, rgba(153,202,251,1) 100.2% );
    width: 85.8%;
    /*margin-left: 0.6%;*/
    margin-left: 13.8%;
    height: 39em;
    font-size: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -2;
}

.container-info {
    margin-top: 0.3em;
    width: 99%;
    height: 98%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.tabel-produse, .tabel-istoric, .tabel-stoc {
    border-left: 2px solid gray;
    border-right: 2px solid gray;
}

.tabel-produse thead, .tabel-istoric thead, .tabel-stoc thead {
    text-align: center;
    background-color: rgb(47, 47, 47);
    color: white;
}

.tabel-produse thead th, .tabel-istoric thead th, .tabel-stoc thead th {
    border: 2px solid gray;
    font-size: 1vw;
}

.tabel-produse thead .p-h-1 {
    width: 2.5em;
}

.tabel-produse thead .p-h-2 {
    width: 20em;
}

.tabel-produse thead .p-h-3,
.tabel-produse thead .p-h-4 {
    width: 9em;
}

.tabel-produse thead .p-h-6 {
    width: 8em;
}

.tabel-produse td {
    text-align: center;
}

.tabel-produse .p-row {
    border-bottom: 2px solid gray;
    height: 3.5em;
}

.tabel-produse tr .descriere-produs {
    text-align: justify;
    padding: 0 0.6em 0 0.6em;
}

.tabel-produse tr .pret-curent-produs {
    font-weight: bold;
}

.tabel-istoric thead .phy-h-name, .tabel-stoc thead .stoc-h-name {
    font-size: 1.1vw;
    padding: 0.2em 0 0.2em 0;
}

.tabel-istoric thead .phy-h-main th, .tabel-stoc thead .stoc-h-main th {
    width: 33.33%;
}

.tabel-istoric .phy-row, .tabel-stoc .stoc-row {
    border-bottom: 2px solid gray;
}

.tabel-istoric td, .tabel-stoc td {
    text-align: center;
    font-size: 1.2vw;
}

.else-message {
    text-align: center;
    font-size: 1.8vw;
    font-weight: bold;
    font-style: italic;
    color: rgb(27, 62, 96);
    margin: 8em auto;
}

.multiple-options {
    position: absolute;
    /* width: 11em;*/
    width: 0;
    overflow: hidden;
    height: 43.4em;
    top: -1px;
    /*right: -10.85em;*/
    left: 14.3em;
    background-image: radial-gradient( circle 1224px at 10.6% 8.8%, rgba(255,255,255,1) 0%, rgba(153,202,251,1) 100.2% );
    border-radius: 5px;
    font-size: 0.9vw;
    display: flex;
    flex-direction: column;
    align-items: end;
    transition: width 0.2s ease, opacity 0.6s ease;
    opacity: 0;
}

#multiple-options.afisat {
    width: 12.5em;
    border: 1px solid rgb(27, 62, 96);
    opacity: 1;
}

.multiple-options a {
    text-decoration: none;
    color: #333;
    margin-top: 0.8em;
    margin-right: 0.8em;   
}

.multiple-options .a-option {
    transition: letter-spacing 0.4s ease;
}

.multiple-options .a-option:hover {
    letter-spacing: 0.5px;
    color: lightseagreen;
}