html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header {
    background-color: rgb(41, 41, 41);
    border-bottom: 1px solid rgb(52, 52, 52);
    height: 48px;
    margin-bottom: 1.4%;
}

.main-container {
    margin-bottom: 50px;
}

.p-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 3.2em;
    background-color: rgb(41, 41, 41);
    border-top: 1px solid rgb(52, 52, 52);
    color: white;
}

.p-footer div {
    margin-left: 8%;
}

.navbar {
    background-color: rgb(41, 41, 41);
    z-index: 1;
}

.nav-link {
    border-bottom: 1px solid transparent;
    transition: border-color 0.3s;
}

@media (max-width: 768px) {
    .navbar-collapse.show .nav-link {
        border-color: white;
    }
}

@media (min-width: 768px) {
    .navbar-collapse.show .nav-link {
        border-color: transparent;
    }
}

#important-content {
    margin: 2vw 0 0 10vw;
}