@{
    ViewBag.MenuAdmin = true;
    ViewBag.ShowFooter = false;
}
<link rel="stylesheet" href="~/css/admin-style.css" />
<script src="~/js/script-admin.js"></script>

<div class="page-container">
    <div class="page-content pb-4">
        <div class="options p-1 px-0 d-flex justify-content-between m-0 d-none">
            <div class="d-flex btn-sm">
                <a asp-controller="Admin" asp-action="AddProduseElectronice" id="add-electronice" class="btn btn-primary ms-3 btn-sm d-none"><i class="bi bi-plus-circle pe-1"></i> Adaugă Produs</a>
                <a asp-controller="" asp-action="" id="mod-electronice" class="btn btn-primary ms-2 btn-sm d-none"><i class="bi bi-pencil pe-1"></i> Modifică / Șterge</a>
            </div>
            <div class="input-group-sm me-4">
                <input type="search" id="search-product" class="form-control dropdown-toggle border border-secondary" style="width: 15em" placeholder="Caută produs..." data-bs-toggle="dropdown">
                <div class="dropdown-menu fs-5 overflow-y-auto">
                    <a class="dropdown-item" href="#">1</a>
                    <a class="dropdown-item" href="#">2</a>
                    <a class="dropdown-item" href="#">3</a>
                </div>
            </div>
        </div>
        <div class="table-info px-4 pt-3"></div>
	</div>
</div>