@{
    ViewBag.MenuAdmin = true;
    ViewBag.ShowFooter = false;
}
<link rel="stylesheet" href="~/css/admin-style.css" />
<script src="~/js/script-admin.js"></script>

<div class="page-container">
    <div class="page-content pb-4">
        <!---->
	</div>
</div>